<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.TotalDao">

	<select id="totalByName" resultType="com.example.demo.domain.Total">
		SELECT
			receipts.member as total.member,
		    members.name as total.memberName,
    		payees.name as total.payeeName,
	    	sum(receipts.amount) as total.amount
		FROM receipts
		JOIN members
			ON receipts.member = members.id
		JOIN payees
			ON receipts.payee = payees.id
		WHERE receipts.member=2 and receipts.payee=3

	</select>

</mapper>
